
$("#message").html("<h3 id='vote-computed'>Vote Computed</h2>");
	$('#grade-input').fadeOut(3000, function() {
	  $('#btn-vote').fadeOut(500, function() {
	  	$(this).remove();
	  	});
	  });

setTimeout(function(){
	$("#message").fadeOut(3000, function(){
		$(this).remove();
	});
});
