var errors = <%= @movie.errors.count %>;

if(errors > 0){
	$("#message").html("<h2>You only can vote once!</h2>");	
		$('#grade-input').fadeOut(1000, function() {
	  });
}else {
	$("#message").html("<h2>Vote Computed</h2>");
	$('#grade-input').fadeOut(2000, function() {
	  });
}
setTimeout(function(){
	$("#message").fadeOut(3000, function(){
		$(this).remove();
	});
});
