<li>
  <div class="thumbnail col col-md-2 col-sm-2 col-xs-2">
  <%= image_tag(star.profile_picture.url, class: "img-responsive media-object", 
  	alt: "Profile", 'data-toggle' => 'tooltip', 'data-placement' => 'top', title: "#{star.nickname}") if star.profile_picture? %>
  	<%= image_tag(image_path(star.country), class: "img-responsive media-object" )%>
	</div>
</li>