<div class="media">
	<div class="col col-md-2 col-sm-2 col-xs-2">
	  <%= image_tag(star.profile_picture.url, class: "img-responsive media-object", 
	  alt: "Profile", 'data-toggle' => 'tooltip', 'data-placement' => 'top', title: "#{star.nickname}") if star.profile_picture? %>
	</div>
	<div class="media-body">
		<ul class="list-unstyled">
			<li><h3> <%= star.nickname %></h3><button class="btn btn-danger pull-right">Remove</button></li>
		</ul>
	</div>	