<div class="row">
  <div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
		<p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim justo. Mauris eget augue id lorem consequat
        laoreet. Cras ut ante a nunc rutrum iaculis. Donec eu neque nunc. Pellentesque pharetra nibh scelerisque tellus tincidunt
        in volutpat augue semper. Proin luctus sem ac arcu convallis vel ultrices felis scelerisque. Duis vitae sem eros, non
        sollicitudin purus. 
    </p>
    <!--  mudar isso para um especie de toggle  -->

    <%= link_to 'testando....', {:controller => 'stars', :action => 'index', :star_id => '2'}, id: 'ajax-button2' %>
    

    <div id="searcharea">
      <label for="search">Live Search</label>
      <p>Enter the name or info about the speaker.</p>
      <input type="search" name="search" id="search" placeholder="name or info" />
    </div>


    <div>
      <% if !@star.nil?   %>
        <ol id='stars', class="list-unstyled">
         <%= render(partial: 'stars/star', collection: @stars ) %>
        </ol>
      <% end %>
    </div>

    <button id="ajax-button" type="button">Submit</button>
    <div id=location>
      
    </div>
  
      <ol id='stars', class="list-unstyled">
      <!--  quando quiser renderizar apenas um objeto dizemos object: 
      quando vários, usamos collection:-->
       <%= render(partial: 'stars/star', collection: @stars ) %>
      </ol>

  </div>

  <div class="col-md-3  col-lg-3 col-sm-3" id="sidebar" >
  	<p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim justo. Mauris eget augue id lorem consequat
        laoreet. Cras ut ante a nunc rutrum iaculis. Donec eu neque nunc. Pellentesque pharetra nibh scelerisque tellus tincidunt
        in volutpat augue semper. Proin luctus sem ac arcu convallis vel ultrices felis scelerisque. Duis vitae sem eros, non
        sollicitudin purus. 
    </p>
    <p> 
        Ut a nunc lacus, eu faucibus dolor. Maecenas condimentum tincidunt dolor, vitae sodales justo lacinia ut. Nulla facilisi.
        Vivamus hendrerit, turpis sit amet auctor auctor, nibh purus aliquam lacus, sed pretium arcu nunc in neque. Proin
        sollicitudin risus ac urna malesuada adipiscing. Donec auctor bibendum fringilla.
    </p>
    <h2>
        Phasellus vitae ligula elit
    </h2>
    <p> 
        Phasellus vitae ligula elit. Integer vel augue vitae arcu semper suscipit. Ut sit amet purus vel lectus placerat
        porttitor. Suspendisse potenti. Fusce elementum massa nec magna tristique et blandit erat lacinia. Vestibulum fermentum
        augue consectetur nisl adipiscing accumsan. Quisque semper justo nec nibh venenatis ut feugiat dolor mattis. In lacus
        magna, rutrum at congue vitae, imperdiet a purus.
    </p>
    <div id="update">
      <h1>Speakers</h1>
    </div> 
  </div>
 </div>
 <script type="text/javascript">  
  /*
  function getStar(){
    // Using XMLHttpRequest
    var xhr = new XMLHttpRequest();  
    xhr.open("GET", "http://localhost:3000/stars-get-json", true);  
    xhr.onreadystatechange = function () {
      if(xhr.readyState < 4) {
        showLoading();
      }
      if(xhr.readyState == 4 && xhr.status == 200) {
        outputLocation(xhr.responseText);
        //console.log(xhr.responseText);
      }
    };
    xhr.send();  
  }
  function showLoading(){
    var target = document.getElementById('location');
    target.innerHTML = 'Loading...';
  }
  function outputLocation(data) {
    var target = document.getElementById('location');
    var json = JSON.parse(data);
    
    var address = json[0].id
    target.innerHTML = address;
    //var output = '<a href="">';
    //output +='This is a link';
    //output += address; 
    //output += '</a>';
    //target.innerHTML = output;

    // quero apenas passar o id para o parametro e enviar para o 
    // controller assim que for clicado no botão

  }

  var button = document.getElementById ("ajax-button");
  button.addEventListener("click", getStar);

  */
  $('#search').keyup(function() {
  var searchField = $('#search').val();
  var myExp = new RegExp(searchField, "i");
  
  $.getJSON('http://localhost:3000/stars-get-json', function(data) {
    var output = '<ul class="searchresults">';
    $.each(data, function(key, val) {
      if(val.nickname.search(myExp) != -1 ) { /* posso adicionar um && para pesquisar apenas após uma certa quantidade de letras*/
        console.log("entrou "+myExp);
        console.log('status_da_busca: '+val.nickname.search(myExp));
        output += '<li>';
        output += '<h2>'+ val.nickname +'</h2>';
        output += '<p>' + val.id + '</p>'
        //output += '<img src="images/'+ val.shortname +'_tn.jpg" alt="'+ val.name +'" />';
        //output += '<p>'+ val.id +'</p>';
        output += '</li>';
        output += '</ul>';
      }if(searchField.length == 0) {/* field em branco */
        output = '<ul class="searchresults">';
        output += '</ul>';
      }else{/* não encontrou nada com a letra*/
        output += '</ul>';
      }
    });
    $('#update').html(output);
    }); //get JSON
  }); 

</script> 