<title>Cinema Talk</title>
<!-- 
	<h3>A simple testing for css and js shortcuts in rails.</h3>
	<div id="evtTarget" class="normal">Mouse over this div to see the effect. Click on it to unbind the mouseover.</div>
 -->	
 <div class="row">
      <div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
        <h1>
            Lorem ipsum dolor sit amet
        </h1>

        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim justo. Mauris eget augue id lorem consequat
            laoreet. Cras ut ante a nunc rutrum iaculis. Donec eu neque nunc. Pellentesque pharetra nibh scelerisque tellus tincidunt
            in volutpat augue semper. Proin luctus sem ac arcu convallis vel ultrices felis scelerisque. Duis vitae sem eros, non
            sollicitudin purus. 
        </p>
        <p> 
            Ut a nunc lacus, eu faucibus dolor. Maecenas condimentum tincidunt dolor, vitae sodales justo lacinia ut. Nulla facilisi.
            Vivamus hendrerit, turpis sit amet auctor auctor, nibh purus aliquam lacus, sed pretium arcu nunc in neque. Proin
            sollicitudin risus ac urna malesuada adipiscing. Donec auctor bibendum fringilla.
        </p>
        <h2>
            Phasellus vitae ligula elit
        </h2>
        <p> 
            Phasellus vitae ligula elit. Integer vel augue vitae arcu semper suscipit. Ut sit amet purus vel lectus placerat
            porttitor. Suspendisse potenti. Fusce elementum massa nec magna tristique et blandit erat lacinia. Vestibulum fermentum
            augue consectetur nisl adipiscing accumsan. Quisque semper justo nec nibh venenatis ut feugiat dolor mattis. In lacus
            magna, rutrum at congue vitae, imperdiet a purus.
        </p>
        <p> 
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla posuere nunc sed mi facilisis
            suscipit molestie felis pulvinar. Mauris vestibulum erat sed diam fringilla ut malesuada dolor adipiscing. Praesent vel
            viverra mi. Nullam tincidunt nibh.
        </p>
        <h2>
            In rhoncus est ut tellus auctor
        </h2>
        <p> 
            In rhoncus est ut tellus auctor sed lobortis arcu ultrices. Aliquam mollis vehicula urna, et interdum ipsum commodo eu.
            Duis vehicula ipsum eu nisl eleifend commodo. Sed eros nisl, vestibulum vel laoreet vulputate, consequat a mauris. Morbi
            ultricies molestie metus vitae convallis. Suspendisse faucibus, turpis eu gravida tincidunt, dolor eros ultrices mi, id
            varius lacus lectus ac justo. Fusce felis libero, malesuada facilisis vestibulum posuere, pharetra sed magna. Etiam
            mattis augue vel quam consequat sodales.
        </p>
        <p>
        Donec viverra imperdiet condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vitae tellus aliquet, dapibus elit eu, pretium lacus. Nunc suscipit sed turpis in semper. Praesent non lorem tortor. Sed ac iaculis quam. Pellentesque iaculis non leo non posuere. In tempor malesuada hendrerit. Praesent auctor non turpis quis lobortis. Nulla et pharetra velit. Sed nec mi imperdiet, blandit augue eu, scelerisque metus. Nam at aliquet ex. Quisque molestie gravida turpis id egestas. Cras ultricies nulla ut lacus fringilla vehicula in ac quam. Vestibulum vehicula urna vel pulvinar convallis.</p>
        <p>
				Sed blandit nibh at velit luctus consectetur. Vestibulum blandit diam non sollicitudin dapibus. Etiam sed urna quis quam varius eleifend luctus fermentum magna. Aenean viverra vestibulum condimentum. Donec blandit lacinia massa at accumsan. Vestibulum aliquam lacus elit, a consequat magna iaculis a. Nam eget sem eu lectus sagittis vulputate. Duis enim erat, laoreet nec purus nec, elementum ornare massa. In hac habitasse platea dictumst.</p>
				<p>
				Integer gravida magna a purus commodo placerat. Etiam accumsan nisl sed suscipit commodo. Integer quis scelerisque risus, a auctor justo. Fusce ac finibus turpis. Aenean malesuada augue a nibh scelerisque scelerisque. Vivamus lobortis et velit vitae imperdiet. Proin luctus, nulla quis imperdiet egestas, arcu nibh interdum urna, eu varius augue lectus a eros. Suspendisse sagittis varius lorem a vehicula. Vivamus in rhoncus elit, sit amet convallis mi. Nam non enim in ante porttitor porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
      <div class="col-md-3  col-lg-3 col-sm-3" id="sidebar" >
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim justo. Mauris eget augue id lorem consequat
            laoreet. Cras ut ante a nunc rutrum iaculis. Donec eu neque nunc. Pellentesque pharetra nibh scelerisque tellus tincidunt
            in volutpat augue semper. Proin luctus sem ac arcu convallis vel ultrices felis scelerisque. Duis vitae sem eros, non
            sollicitudin purus. 
        </p>
        <p> 
            Ut a nunc lacus, eu faucibus dolor. Maecenas condimentum tincidunt dolor, vitae sodales justo lacinia ut. Nulla facilisi.
            Vivamus hendrerit, turpis sit amet auctor auctor, nibh purus aliquam lacus, sed pretium arcu nunc in neque. Proin
            sollicitudin risus ac urna malesuada adipiscing. Donec auctor bibendum fringilla.
        </p>
        <h2>
            Phasellus vitae ligula elit
        </h2>
        <p> 
            Phasellus vitae ligula elit. Integer vel augue vitae arcu semper suscipit. Ut sit amet purus vel lectus placerat
            porttitor. Suspendisse potenti. Fusce elementum massa nec magna tristique et blandit erat lacinia. Vestibulum fermentum
            augue consectetur nisl adipiscing accumsan. Quisque semper justo nec nibh venenatis ut feugiat dolor mattis. In lacus
            magna, rutrum at congue vitae, imperdiet a purus.
        </p>
        <div id="results">             
        </div>        
      </div>

    </div><!-- row -->