<!DOCTYPE html>
<html>
<head>
	<title>Cinema Talk</title>
</head>
	<h1>Cinema Talk</h1>
<body>
	<h3>A simple testing for css and js shortcuts in rails.</h3>
	<div id="evtTarget" class="normal">Mouse over this div to see the effect. Click on it to unbind the mouseover.</div>
</body>
</html>