<title>Cinema Talk</title>
<!-- 
	<h3>A simple testing for css and js shortcuts in rails.</h3>
	<div id="evtTarget" class="normal">Mouse over this div to see the effect. Click on it to unbind the mouseover.</div>
-->	
<div class="row">
  <div class="col col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7 col-sm-offset-1 col-sm-7" id="main-frame" >
    <div class="black-bkg">

      <h1 class="welcome lead">Welcome to Cinema Talk</h1>
    
      <p class="welcome-text">Here you can enjoy the best critics in action, giving their valuable analysis in a professional way about the greatest movie classics in history</p>
      <p class="welcome-text ">Register now and comment critics, give your opinion about movies by adding your own rate to each of them, search for your favorite actor or director and share with the knowledge of the seventh art!
      </p>  
      <br>
      <div style="text-align:center;">
        <%= link_to "Sign Up", new_user_path, class: "btn btn-lg btn-signup" %>
      </div>
      <br>
    </div>
  </div> 


  <%=  render 'layouts/sidebar' %>
