$grey21 :#363636;
$yellow2 :#EEEE00;
$silver :#C0C0C0;
$default :#222;
body {

   /* 
   background-color: #eee;
   background-image: image-url('room-237-carpet.jpg');
   background-attachment: fixed; 
   
   isso tudo pode ser substituido nessa linha abaixo 
   background: #eee image-url('room-237-carpet.jpg') repeat fixed;
		
   */
  background-color: $silver;
   margin: 5px;
 }
/* spaço para o conteudo aparecer todo abaixo da navbar */
.navbar-space{
	padding-top: 45px;
}

.navbar-default {
	background-color: black;
	border-color: black;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: $yellow2;
  background-color: $grey21;
}
.navbar-inverse .navbar-nav>li>a {
  color: $yellow2;
  &:hover{
  	color: $yellow2;
  	font-style: bold;
  }
}

.dropdown-menu {
	background-color: $default;
}
.dropdown-menu > li > a{
	color: $yellow2;
	&:hover{
		background: darken($grey21, 5%);
		color: $yellow2;
		border-color: darken($grey21, 5%);
	}
}
/* finalmente ao clicar no dropdow a cor fica no estilo do site */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color: $yellow2;
	background-color: $grey21;
}

#main-frame{
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  opacity: .80
}
#sidebar{
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  opacity: .80
}
#sidebar h2 {
  text-align: center;
  font-family: 'SeasideResortNF'; 
  color: black;
}


.h4, h4 {
  text-align: right;
}
@font-face {
  font-family: "Prisma";
  src:url(asset-path('assets/Prisma'));
} 
@font-face {
  font-family: "PoiretOne-Regular";
  src:url(asset-path('assets/PoiretOne-Regular'));
} 
@font-face {
  font-family: "SeasideResortNF";
  src:url(asset-path('assets/SeasideResortNF'));
} 

#logo-index{
  color: $yellow2;
  font-family: "SeasideResortNF";
}

h1, h2, h3, h4{
  font-family: "PoiretOne-Regular";
  color: black;
}

.searchresults > li > a {
  font-style: bold;
}

/* por padrão o botão de erros incia invisivel para depois dar um fadeIn ao aparecerem errros */
#btn-errors {
  display :none; 
}
.welcome{
  text-align: center;
  font-family: 'Prisma';
  color: $yellow2;
  font-size: 35px;
}
.black-bkg {
  border: 2px solid $yellow2;
  border-radius: 10px;
  background-color: black;
  opacity: .9;
  border-color: $yellow2;
}
.welcome-text {
  margin: 25px 50px;
  color: $yellow2;
  font-family: 'PoiretOne-Regular';
  text-indent: 20px;
  word-spacing: 2px;  
  line-height: 1.1;
  font-size: 30px;
  text-align: justify;  
  -moz-text-align-last: right; /* Code for Firefox */
  text-align-last: left;
}

.btn-signup {
  background-color: darken($yellow2, 15%);
  border-radius: 0px;
  border: 2px solid black; 
  &:hover{
    background: darken($yellow2, 30%);
    color: black; 
    border-color: darken($grey21, 15%);
  }
}
a.btn.btn-lg.btn-signup{
  color: black;
  font-family: 'SeasideResortNF';
  font-size: 200%;
  &:hover{
    border: 2px solid white;
    color: white;
  }
}

.login-style {
  max-width: 120px;
  max-height: 27px;
}

.btn-login{
  max-height: 27px; 
  background-color: darken($yellow2, 15%);
  color: black;
  font-family: 'SeasideResortNF';
  font-size: 95%;
  padding: 5px;
   &:hover{
    background: darken($yellow2, 30%);
    color: white;
    border: 2px solid white;  
  }
}